body
{
    font-family: Helvetica;
}

.hidden
{
    display: hidden;
}

.title
{
    font-size: 14pt;
    font-weight: bold;
}

.bottomSpaced
{
    margin-bottom: 10px;
}

.header
{
    width: 100%;
    position: absolute;
    top: 0px;
    height: 24px;
    border-bottom: solid 1px;
    
}

.menuTitle
{
    padding-left: 20px;
}

.rightBar
{
}

.menuOffsetTop
{
    margin-top: 25px;
}

.footer
{
   position: fixed;
   bottom: 0;
   width: 100%;
   
   border: solid 1px;
}


.bottomPanel
{
    height: 200px;
}

.centered
{
    margin: auto;
}

.relPos
{
    position: relative;
}

.overflowScroll
{
    overflow-y: auto;
}

.rightBarWidth
{
    width: 250px;
}

.floatRight
{
    float: right;

}

.sessionItem
{
    padding-bottom: 3px;
    padding-top: 3px;

    margin-bottom: 5px;
    margin-top: 5px;
    cursor: pointer;
}


.sessionItemActive:hover
{
    background-color: #b3e6ff;
}

.sessionItemInactive
{
    color: #a6a6a6;
}
.sessionItemInactive:hover
{
    background-color: #d9d9d9;
}


.sessionItemBtn
{
    float: right;
    padding-right: 3px;
}


.editValue
{
    margin: 20px;
}

.cursorPointer
{
    cursor: pointer;
}

.cursorMove
{  
    cursor: move;
}

.cursorZoomin
{  
    cursor: zoom-in;
}

.cursorZoomout
{  
    cursor: zoom-out;
}


.codeArea
{
    float: left;
    width: 500px;
}

.errorsPanel
{
    width: 300px;
    overflow: auto;
}

/*






#matrixSelection
{
    position: absolute;
    border: solid 2px;
    border-color: #AAA;
    width: 10px;
    height: 10px;
    background-color: rgba(1,1,1,0.1);
}

.alignRight
{
    text-align: right;
}

.bold
{
    font-weight: bold;
}

.editorH
{
    height: 100px;
}

.mainHeight
{
    height: 500px;
}

.treeH
{
    height: 400px;
}

.margin
{
    margin: 5px;
}

.border
{
    border: 1px solid;
}

.spacing
{
    height: 30px;
}

.padding
{
    padding: 10px;
}

.fullWidth
{
    width: 100%;
}

.rightW
{
    width: 250px;
}

.bottomH
{
    height: 150px;
}

#history
{
    overflow-x: auto;
}

.displayInline
{
    display: inline-block;
}

.grayFill
{
    fill: #737373;
}

.grayStroke
{
    stroke: #737373;
}



.floatRight
{
    float: right;
}


.floatLeft
{
    float: left;
}


.clientPanel
{
    overflow-y: auto;
}

.clientRow
{
    margin-bottom: 10px;
}

.clientEntryInActive
{
    color: #8C8C8C;
}

.clientEntryInActive:hover
{
    color: #C7C7C7;
    background-color: #8C8C8C;
}

.clientEntryActive:hover
{
    color: white;
    background-color: #008CBA;
}


.clientText
{
    width: 100px;
    overflow:hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
}

.historySelected
{
    stroke: black;
    stroke-width: 2px;

}*/