<div>
<div><label>Session</label><span class="floatRight">{{object.session}}</span></div>
<div><label>Size</label><span class="floatRight"> {{object.rows}} X {{object.cols}}</span></div>
<div><label>Non zero</label><span class="floatRight"> {{object.nonZero}}</span></div>
<div><label>Date</label><span class="floatRight"> {{object.created}}</span></div>
</div>
