<div class="editValue">
    <div class="title bottomSpaced">Edit matrix entry</div>
    <div class="bottomSpaced"><b>Selected</b> {{entry.i}}, {{entry.j}}</div>

    <div class="input-group">
      <input type="text" class="form-control" ng-value="value"  ng-model="newValue" only-digits></input>
      <span class="input-group-btn">
        <button class="btn btn-default" type="button" ng-click="save()">Save</button>
    </span>
</div><!-- /input-group -->
</div>