<div>
    <div class="header">
        <span uib-dropdown class="menuTitle">
            <a href uib-dropdown-toggle>
                File
            </a>
            <ul class="dropdown-menu" uib-dropdown-menu aria-labelledby="simple-dropdown">
                <li>
                    <input id="load-script" class="hidden" type="file" accept=".txt,.js" on-read-file="scriptLoaded(scriptContent)"/>
                    <a href ng-click="loadScript()">Load script</a>
                </li>
                <li>
                    <a href>Save script</a>
                </li>
            </ul>
        </span>

        <span uib-dropdown  class="menuTitle">
            <a href uib-dropdown-toggle>
                Edit
            </a>
            <ul class="dropdown-menu" uib-dropdown-menu aria-labelledby="simple-dropdown">
                <li><a href ng-click="actionSelect()">Select</a></li>
                <li><a href ng-click="actionPan()">Pan</a></li>
                <li><a href ng-click="actionZoomIn()">Zoom in</a></li>
                <li><a href ng-click="actionZoomOut()">Zoom out</a></li>
                <li class="divider"></li>
                <li><a href ng-click="actionReset()">Reset</a></li>
            </ul>
        </span>
    </div>


    <div class="floatRight rightBarWidth rightBar">
        <span uib-dropdown auto-close="outsideClick">
            <button id="single-button" type="button" class="btn btn-default dropdown-toggle btn-block" uib-dropdown-toggle>
                Manage sessions
            </button>
            
            <ul class="dropdown-menu rightBarWidth" uib-dropdown-menu aria-labelledby="simple-dropdown">
                <li ng-repeat="session in sessions" class="sessionItem" ng-class="{true:'sessionItemActive', false:'sessionItemInactive'}[session.active]" >
                    <span>{{session.name}}</span>
                    <span ng-if="session.active" class="sessionItemBtn">
                        <button type="button" class="btn btn-default btn-xs" ng-click= "continueSession(session);" ><span class="glyphicon glyphicon-play" aria-hidden="true"></span></button>
                        <button type="button" class="btn btn-default btn-xs" ng-click= "stopSession(session);"><span class="glyphicon glyphicon-stop" aria-hidden="true"></span></button>
                    </span>
                </li>
            </ul>
        </span>

        <div class="overflowScroll" id="matricesList">
            <uib-accordion close-others="false">
                <uib-accordion-group heading="{{object.name}}" ng-repeat="object in objects" ng-click="matrixClick(object)">
                    <div ng-include="'templates/dataDetails.html'"></div>
                </uib-accordion-group>
            </uib-accordion>
        </div>
    </div>

    <matrix data="currentMatrix" action="currentAction"></matrix>
    <div class="footer bottomPanel">
        <orion data="currentScript" />
    </div>
</div>

<!--     <div class="fullWidth">
<svg height="35px" width="35px" viewBox="0 0 1000 1000" class="displayInline cursorPointer padding" ng-click="zoomBtCliecked();">
<path d="M0 447.237q0 -185.535 130.851 -316.386t316.386 -130.851 317.363 130.851 131.828 316.386q0 140.616 -82.026 255.843l185.535 185.535 -111.321 111.321 -185.535 -185.535q-115.227 82.026 -255.843 82.026 -185.535 0 -316.386 -131.828t-130.851 -317.363zm126.945 0q0 132.804 93.744 226.548t226.548 93.744 226.548 -93.744 93.744 -226.548 -93.744 -225.572 -226.548 -92.767 -226.548 92.767 -93.744 225.572zm128.898 64.449l0 -126.945l384.741 0l0 126.945l-384.741 0z" class="grayFill"/>
</svg>

<svg height="35px" width="35px" viewBox="0 0 1000 1000" class="displayInline cursorPointer padding" ng-click="moveBtCliecked();">
<path d="M999.936 500.032q0 14.508 -10.602 25.11l-142.848 142.848q-10.602 10.602 -25.11 10.602t-25.11 -10.602 -10.602 -25.11v-71.424h-214.272v214.272h71.424q14.508 0 25.11 10.602t10.602 25.11 -10.602 25.11l-142.848 142.848q-10.602 10.602 -25.11 10.602t-25.11 -10.602l-142.848 -142.848q-10.602 -10.602 -10.602 -25.11t10.602 -25.11 25.11 -10.602h71.424v-214.272h-214.272v71.424q0 14.508 -10.602 25.11t-25.11 10.602 -25.11 -10.602l-142.848 -142.848q-10.602 -10.602 -10.602 -25.11t10.602 -25.11l142.848 -142.848q10.602 -10.602 25.11 -10.602t25.11 10.602 10.602 25.11v71.424h214.272v-214.272h-71.424q-14.508 0 -25.11 -10.602t-10.602 -25.11 10.602 -25.11l142.848 -142.848q10.602 -10.602 25.11 -10.602t25.11 10.602l142.848 142.848q10.602 10.602 10.602 25.11t-10.602 25.11 -25.11 10.602h-71.424v214.272h214.272v-71.424q0 -14.508 10.602 -25.11t25.11 -10.602 25.11 10.602l142.848 142.848q10.602 10.602 10.602 25.11z" class="grayFill"/>
</svg>

</div>

<div class="displayInline floatLeft mainHeight fullWidth cursorPointer" id="mainCanvas" ng-mousedown="mousedownfunc($event);" ng-mousemove="mousemovefunc($event);" ng-mouseup="mouseupfunc($event);">
<div id="matrixSelection"></div>
<matrix data="data" zoom="zoomRect" translation="translation"></matrix>
</div>


<div class="floatRight rightW mainHeight">

<div class="border padding treeH margin" >
<spatio-temporal-tree data="history"></spatio-temporal-tree>
</div>



<div class="border padding editorH margin">
<table ng-if="selectedEntry" class="fullWidth">
<tr><td class="bold">Row</td><td class="alignRight">{{selectedEntry.row}}</td></tr>
<tr><td class="bold">Col</td><td class="alignRight">{{selectedEntry.col}}</td></tr>
<tr><td class="bold">Process</td><td class="alignRight">{{selectedEntry.process}}</td></tr>
<tr><td class="bold">Value</td><td><input type="text" ng-model="selectedEntry.value" ng-change="matrixEntryChanged(selectedEntry)" class="alignRight"/></td></tr>
</table>            
</div>


</div>
</div>

<div class="displayInline spacing fullWidth"></div>

<div class="displayInline fullWidth">
<div id="history" class="floatLeft displayInline bottomH">
<timeline data="history" selected="currentClient" class="padding"></timeline>
</div>





<div class="floatRight rightW bottomH">
<div class="clientPanel bottomH padding border margin">
<div ng-repeat="client in connected.slice().reverse()" class="clientRow">
<div class="displayInline">
<svg version="1.1" width="25px" height="25px" viewBox="0 0 512 512">
    <rect x="10" y="10" width="490" height="350" fill="#6CF1FF" ng-if="client.active"/>

    <path fill-rule="evenodd" clip-rule="evenodd" class="grayFill" d="M480,0H32C14.313,0,0,14.328,0,32v336c0,17.688,14.313,32,32,32
    h448c17.688,0,32-14.313,32-32V32C512,14.328,497.688,0,480,0z M480,288c0,17.688-14.313,32-32,32H64c-17.688,0-32-14.313-32-32V64
    c0-17.688,14.313-32,32-32h384c17.688,0,32,14.313,32,32V288z M288,416c8.813,0,16,7.188,16,16v16
    c0,8.813,5.75,20.313,12.813,25.594l38.375,28.813C362.25,507.688,360.813,512,352,512H160c-8.813,0-10.25-4.313-3.188-9.594
    l38.375-28.813C202.25,468.313,208,456.813,208,448v-16c0-8.813,7.188-16,16-16H288z"/>
</svg>
</div>

<div class="displayInline cursorPointer" ng-class="{true:'clientEntryActive', false:'clientEntryInActive'}[client.active]" ng-click="select(client)">
<div class="displayInline clientText" ng-class="{true: 'bold', false:''}[currentClient.id===client.id]" >{{client.id}}</div>
</div>

<div class="displayInline" ng-if="client.active">
<svg version="1.1" width="20px" height="20px" viewBox="0 0 400 400" ng-click="disconnect(client)" class="cursorPointer">
    <circle cx="200" cy="200" r="190" stroke-width="20" fill="none" class="grayStroke"/>
    <rect x="125" y="125" width="150" height="150" class="grayFill"/>
</svg>
</div>
<div class="displayInline" ng-if="client.active">
<svg version="1.1" width="20px" height="20px" viewBox="0 0 400 400" ng-click="continue(client)" class="cursorPointer">
    <circle cx="200" cy="200" r="190" stroke-width="20" fill="none" class="grayStroke"/>
    <polygon points="150,100 150,300 310,200" class="grayFill"/>
</svg>
</div>
<div class="displayInline" ng-if="client.active">
<svg version="1.1" width="20px" height="20px" viewBox="0 0 400 400" ng-click="save(client)" class="cursorPointer">
    <path d="M95,94.929v210h210v-210H95z M147.263,109.759c35.629,0,70.23,0,105.543,0c0,18.158,0.29,35.864-0.163,53.552
    c-0.149,5.816-4.089,9.132-10.482,9.108c-27.902-0.102-55.806-0.121-83.708,0.01c-7.199,0.034-10.973-3.581-11.089-10.281
    C147.062,144.957,147.263,127.756,147.263,109.759z M272.484,290.118c-48.673,0-96.182,0-144.822,0
    c0-11.374,0.005-22.485-0.001-33.594c-0.009-11.764-0.083-23.526-0.031-35.291c0.043-9.622,3.234-13.195,12.522-13.221
    c39.94-0.105,79.882-0.025,119.82-0.062c7.407-0.007,12.398,2.915,12.452,10.853C272.589,242.291,272.484,265.782,272.484,290.118z"
    class="grayFill"/>
    <circle cx="200" cy="200" r="190"  stroke-width="20" fill="none" class="grayStroke"/>
</svg>
</div>
</div>
</div>
</div>



<div>
<scriptingui></scriptingui>
</div>




-->
</div>