<textarea cols="50"
ng-model="code"
hljs
>
 
</textarea>
<div
ng-click="run(currentClient, makeJSONAST())"
class="cursorPointer"
>
Run
</div>
<div
ng-click="clearCode()"
>
Clear
</div>
<div hljs source="ast">
</div>

<div hljs source="code">
</div>