<div>

	<div>
		<pre id="scripteditor" class='codeArea bottomPanel' spellcheck="false" style="height: 350px">
		</pre>
	</div>

	<div class="errorsPanel bottomPanel codeArea">
		<div uib-alert ng-repeat="error in errors" type="{{error.type}}"  closeable="false">{{error.msg}}</div>
	</div>


	<button type="button" class="btn btn-default" ng-class="{disabled: !codeValid}" ng-click= "buildScript();" ><span class="glyphicon glyphicon-wrench" aria-hidden="true"></span></button>
</div>