<div>
<script type="text/ng-template" id="nodes_renderer.html">
  <div>
    {{node.title}}
  </div>
  <ol>
    <li ng-repeat="node in node.nodes" ng-include="'nodes_renderer.html'">
    </li>
  </ol>
</script>

<div ui-tree id="tree-root">
  <ol ui-tree-nodes ng-model="treeData">
    <li ng-repeat="node in treeData" ui-tree-node ng-include="'nodes_renderer.html'"></li>
  </ol>
</div>
</div>